<h1>VICADS<sup>TM</sup> Certification Classes Inquiry Form</h1>
<form name="cert-inquiry-form" id="cert-inquiry-form" method="post" action="">
	<p>Required fields are marked with a red asterisk <span class="req">(</span>).</p>
	<ol>
		<li>
			<label for="first-name" class="req">First Name</label>
			<input type="text" name="first_name" id="first-name">
		</li>
		<li>
			<label for="last-name" class="req">Last Name</label>
			<input type="text" name="last_name" id="last-name">
		</li>
		<li>
			<label for="company" class="req">Company</label>
			<input type="text" name="company" id="company">
		</li>
		<li>
			<label for="email" class="req">Email Address</label>
			<input type="text" name="email" id="email">
		</li>
		<li>
			<label for="street-address" class="req">Address</label>
			<input type="text" name="street_address" id="street-address">
		</li>
		<li>
			<label for="zip-code" class="req">Zip Code</label>
			<input type="text" name="zip_code" id="zip-code">
		</li>
		<li>
			<label for="dates" class="req">Dates</label>
			<select name="dates" id="dates">
				<option value="">-</option>
				<option value="September 24 - 27">September 24<sup>th</sup> - 27<sup>th</sup></option>
				<option value="December 3 - 6">September 3<sup>rd</sup> - 6<sup>th</sup></option>
			</select>
		</li>
	</ol>
	<div>
		<a id="submit">Submit</a>
		<a id="reset">Reset</a>
	</div>
</form>