<div id="featured-products">
	<div>
		<h4><strong>Product</strong> Highlight</h4>
		<p>From distributed monitoring and surveillance using VICADS<sup>TM</sup> to physical network instrusion detection.</p>
		<a href="integrated-security-systems/products/vicads"><span>&gt;&gt;</span> &nbsp;More</a>
	</div>
	<div>
		<h4><strong>Product</strong> Highlight</h4>
		<p><strong>OpenTMS Enterprise Studio</strong> is a customizable off-the-shelf solution that can be tailored to meet your unique needs.</p>
		<a href="intelligent-transportation-systems/products/opentms/"><span>&gt;&gt;</span> &nbsp;More</a>
	</div>
</div>