<ol class="table">
    <li>
        <select name="item_<%= cnt %>">
            <option value="">-</option>
            <option value="10-10000-000">VICADS Management Server</option>
            <option value="10-20000-00T">VICADS Personal Viewer Workstation, Tower</option>
            <option value="10-20000-00R">VICADS Personal Viewer Workstation, Rack Mount</option>
            <option value="10-20003-00T">VICADS Softwall Workstation, Tower</option>
            <option value="10-20003-00R">VICADS Softwall Workstation, Rack Mount</option>
            <option value="10-20003-000">VICADS Broadcast Server &amp; Software</option>
            <option value="10-31000-000">VICADS Video Analytics Server, 24 Channel</option>
        </select>
    </li>
    <li><input type="text" name="serial_number_<%= cnt %>"></li>
    <li><input type="text" name="quantity_<%= cnt %>"></li>
    <li><input type="text" name="reason_for_return_<%= cnt %>"></li>
</ol>