<table>
    <tr>
        <td>
            <input type="hidden" name="product_item_<%= cnt %>">
            <select name="product_part_number_<%= cnt %>" id="product_part_number_<%= cnt %>">
                <option value="">-</option>
                <% _.each(items, function(item) { %>
                <option value="<%= item.product_part_number %>"><%= item.product_part_name %></option>
                <% }); %>
            </select>
        </td>
        <td><input type="text" name="product_serial_number_<%= cnt %>"></td>
        <td><input type="text" name="product_quantity_<%= cnt %>"></td>
        <td><input type="text" name="product_reason_for_return_<%= cnt %>"></td>
    </tr>
</table>