<div id="ack-overlay-bg"></div>
<div id="ack-overlay">
    <h2>Confirm RMA Request</h2>
    <p>By clicking Submit Request you are acknowledging that you have read, understand and agree to comply with the <a href="/contact-us/rma-request-form/return-policy" target="_blank">Open Roads Return Policy terms and conditions</a>. Submission of this form is acceptance of the terms, if you do not agree click Cancel Request.</p>
    <div>
        <a id="confirm-rma-request">Submit Request</a>
        <a id="cancel-rma-request">Cancel Request</a>
    </div>
</div>