<h1>Open Roads Consulting, Inc. Return Policy</h1>
<h3>Instructions</h3>
<ul class="indented">
    <li>A Return Material Authorization (RMA) number is REQUIRED for every return shipment to ORCI.</li>
    <li>The shipment must match the correct amount of units, model types and serial numbers as documented on the RMA.</li>
    <li>The RMA number must be written and visible on the outside of the box. Shipments received without a RMA number will be refused.</li>
    <li>RMA numbers are valid for 30 days from the date they are issued.</li>
    <li>Once items have been shipped, you may check the status of your RMA by calling Product Support at 855.4VICADS or at <a href="mailto:vicadssupport@openroadsconsulting.com">vicadssupport@openroadsconsulting.com</a></li>
    <li>Ship returns to the following address:</li>
</ul>
<p class="indented">
    Open Roads Consulting<br>
    3019 Alvin Devane Blvd<br>
    Bldg 4, Suite 450<br>
    Attn: Returns, RMA # <span class="italic">(insert your RMA # here)</span><br>
    Austin, TX 78741
</p>
<br><br>
<h3>Terms &amp; Conditions</h3>
<ul class="indented">
    <li>Customer is responsible for all costs associated with return.</li>
    <li>Returns for any reason other than defective units are subject to a 20% restocking fee.</li>
    <li>Customer is 100% responsible for the product while in transit to ORCI.</li>
    <li>Incoming RMAs will be inspected upon arrival and any damage noted.</li>
    <li>It is <strong>strongly</strong> recommended that the customer insure return shipments <strong>at full replacement value</strong>. Use original <strong>packaging materials and containers</strong> to ship return product. If original package is not available, ensure that the all equipment and components are packed securely. *</li>
    <li>ALL WARRANTY CLAIMS ARE VOIDED IF PRODUCT IS DAMAGED DURING TRANSPORT AS A RESULT OF <strong>INADEQUATE</strong> PACKAGING <strong>OR IMPROPER HANDLING WHILE IN TRANSIT</strong></li>
</ul>
<p class="indented"><strong>* If product return consists of ORCI servers, recorders or workstations it is STRONGLY recommended to repack the chassis in the original carton, using the original packaging material. If these are no longer available, be sure to pack the chassis securely, using packaging material to surround the chassis so that it does not shift within the carton and become damaged during shipping.</strong></p>