html {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #333;
  background-attachment: fixed; }
  html > body {
    position: relative;
    margin: 0; }
    html > body > header {
      padding: 12px 25px 15px;
      overflow: hidden;
      background: #fff;
      background: -o-linear-gradient(white, #e3e3e3);
      background: -ms-linear-gradient(white, #e3e3e3);
      background: linear-gradient(white, #e3e3e3); }
      html > body > header > div > a {
        display: block;
        outline: none;
        cursor: pointer; }
        html > body > header > div > a > span {
          display: none; }
    html > body > div > section:after {
      content: " ";
      display: table;
      clear: both; }
    html > body > div > section > #content {
      position: relative;
      overflow: hidden;
      padding: 25px 25px 35px;
      background: #fff;
      /* News, Archives, etc. */ }
      html > body > div > section > #content > #loading {
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        left: 50%;
        top: 50%;
        margin-left: -32px;
        margin-top: -32px; }
      html > body > div > section > #content h1 {
        margin: 0;
        margin-bottom: 10px;
        color: #0b3d6f;
        font-size: 155%;
        font-weight: normal; }
      html > body > div > section > #content h3 {
        margin: 0 0 5px;
        color: #36c;
        font-size: 120%; }
      html > body > div > section > #content a {
        color: #004b8d; }
        html > body > div > section > #content a:hover {
          text-decoration: none;
          color: #0066c0; }
      html > body > div > section > #content #category-posts > article {
        padding: 20px 0;
        margin: 0 5px;
        border-top: 1px dashed #aaa; }
      html > body > div > section > #content #category-posts > article:first-child {
        border-top-width: 0; }
    html > body > div > section > #featured-products {
      display: none; }
      html > body > div > section > #featured-products > p {
        position: relative;
        margin: 0;
        width: 248px;
        height: 172px;
        background: url(../img/featuredProducts.png) no-repeat 0 -172px; }
        html > body > div > section > #featured-products > p:first-child {
          margin-bottom: 5px;
          background-position: 0 0; }
        html > body > div > section > #featured-products > p > span {
          display: none; }
        html > body > div > section > #featured-products > p > a {
          display: block;
          height: 23px;
          width: 94px;
          position: absolute;
          bottom: 0;
          right: 0;
          cursor: pointer;
          outline: none; }
    html > body > div > section.home > #content h1 {
      display: none; }
    html > body > div > section.home > #featured-products {
      display: block; }
    html > body > footer {
      color: #888;
      font-size: 90%; }
      html > body > footer > p {
        margin: 0; }
        html > body > footer > p > a {
          color: #aaa;
          text-decoration: none;
          outline: none;
          cursor: pointer; }
          html > body > footer > p > a:hover {
            text-decoration: underline; }
