$fontSize: 12px;
$headerLightGray: #e3e3e3;
$blue: #003082;
$textDarkBlue: #0b3d6f;
$textBrightBlue: #36c;
$logoBlue: #004B8D;

html {
	font-size: $fontSize;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #333;
	background-attachment: fixed;

	>body {
		position: relative;
		margin: 0;

		>header {
			height: 114px;
			padding: 12px 25px 15px;
			overflow: hidden;
			background: #fff;
			background: -o-linear-gradient(#fff, $headerLightGray);
			background: -ms-linear-gradient(#fff, $headerLightGray);
			background: linear-gradient(#fff, $headerLightGray);

			>div {
				&:after {
					content: " ";
					display: table;
					clear: both;
				}

				>a {
					display: block;
					height: 114px;
					width: 101px;
					outline: none;
					cursor: pointer;
					background: url(../img/logo.png);

					>span { display: none; }
				}

				>h2 {
					float: left;
					margin: 0;
					color: $blue;
					margin: 0;
					font-size: 185%;
					line-height: 100px;
					height: 116px;
				}
			}
		}

		>div {
			>section {
				&:after {
					content: " ";
					display: table;
					clear: both;
				}

				>#content {
					position: relative;
					overflow: hidden;
					padding: 25px 25px 35px;
					background: #fff;

					>#loading {
						display: block;
						position: absolute;
						width: 32px;
						height: 32px;
						left: 50%;
						top: 50%;
						margin-left: -32px;
						margin-top: -32px;
					}

					h1 {
						margin: 0;
						margin-bottom: 10px;
						color: $textDarkBlue;
						font-size: 155%;
						font-weight: normal;
					}

					h2 {}

					h3 {
						margin: 0 0 5px;
						color: #36c;
						font-size: 120%;
					}

					a {
						color: $logoBlue;

						&:hover {
							text-decoration: none;
							color: lighten($logoBlue, 10%);
						}
					}

					/* News, Archives, etc. */
					#category-posts > article {
						padding: 20px 0;
						margin: 0 5px;
						border-top: 1px dashed #aaa;
					}
					#category-posts > article:first-child { border-top-width: 0; }
				}

				>#featured-products {
					display: none;

					>p {
						position: relative;
						margin: 0;
						width: 248px;
						height: 172px;
						background: url(../img/featuredProducts.png) no-repeat 0 -172px;

						&:first-child {
							margin-bottom: 5px;
							background-position: 0 0;
						}

						>span { display: none; }
						>a {
							display: block;
							height: 23px;
							width: 94px;
							position: absolute;
							bottom: 0;
							right: 0;
							cursor: pointer;
							outline: none;
						}
					}
				}

				&.home {
					>#content {
						h1 { display: none; }
					}

					>#featured-products { display: block; }
				}
			}
		}

		>footer {
			color: #aaa;
			font-size: 90%;

			>p { margin: 0; }
		}
	}
}
			