$logoBlue: #004B8D;

/**
 *  Width: Minimum of 1066 pixels
 *  Description: This is styling that will only be applied when we have the necessary width to show the full website.
 */
@media (min-width: 1066px) {
	$innerContentWidth: 1066px;

	html {
		>body {
			@mixin innerContent {
				width: $innerContentWidth;
				margin: 0 auto !important;
			}

			>img {
				display: block;
				position: absolute;
				top: 184px;
				width: 100%;
				z-index: -1;
			}

			>header {
				>div { @include innerContent; }
			}

			>div {
				>nav {
					>ul { @include innerContent; }
				}

				>#banner {
					width: $innerContentWidth - 5;
					height: 222px;
					background: #000 url(../img/banner-loading.gif) no-repeat center center;
					margin: 0 auto;
					overflow: hidden;
					position: relative;

					>a {
						display: none;
						height: 48px;
						width: 48px;
						background: url(../img/controls.png) no-repeat 0 0;
						color: #fff;
						font-weight: bold;
						position: absolute;
						z-index: 1000;
						cursor: pointer;
						outline: none;
						top: 85px;

						&#previous {
							left: 0;
							background-position: -144px 0;

							&:hover { background-position: -144px -48px; }
						}

						&#next {
							right: 0;
							background-position: -96px 0;

							&:hover { background-position: -96px -48px; }
						}

						&#pause,
						&#play { left: 53px; }

						&#pause {
							&:hover { background-position: 0px -48px; }
						}

						&#play {
							visibility: hidden;
							background-position: -48px 0;

							&:hover { background-position: -48px -48px; }
						}
					}

					&:hover > a { display: block; }
				}

				>section { 
					@include innerContent;

					>#content {
						width: 765px;
					}

					>#featured-products {
						margin-left: 5px;
						float: left;
						width: 248px;
					}

					&.home {
						>#content {
							width: 512px;
							float: left;
						}
					}
				}
			}

			>footer { @include innerContent; }
		}
	}
}

/**
 *  Width: Maximum of 1065 pixels
 *  Description: Styling for site when it doesn't have the width required to display full site.
 */
@media (max-width: 1065px) {
	html {
		>body {
			>img { display: none; }

			>div {
				>#banner { display: none; }

				>section {
					>#featured-products {
						padding-top: 5px;

						>p { 
							float: left; 
							margin-right: 5px;
						}

						&:after {
							content: " ";
							display: table;
							clear: both;
						}
					}
				}
			}
		}
	}	
}

/**
 *  Width: Minimum of 890 pixels
 *  Description: Full menu requires at least 890 pixels.  This will contain styles for hover based menu.
 *  Also, this is the first resolution that we are able to show the News and Events.
 */
@media (min-width: 890px) {
	$blue: #003082;
	$navGreen: #00594b;
	$newsAndEventsGreen: #28A040;

	html {
		>body {
			>header {
				>div {
					>a {
						float: left;
						margin-right: 25px;
					}
				}
			}

			>div {
				position: relative;
				padding-top: 43px;

				>nav {
					position: absolute;
					top: 0;
					left: 0;
					height: 37px;
					background: url(../img/nav.png);
					border-bottom: 4px solid $navGreen;
					padding: 2px 0 0;
					width: 100%;
					z-index: 1000;

					ul {
						margin: 0;
						padding: 0;
						list-style: none;
					}

					>ul {
						list-style: none;
						padding: 0;

						&:after {
							content: " ";
							display: table;
							clear: both;
						}

						>li {
							float: left;

							>a {
								display: block;
								padding: 0 25px;
								height: 37px;
								line-height: 37px;
								font-weight: bold;
								font-size: 110%;
								color: #fff;
								text-decoration: none;
								text-shadow: 0 0 1px #000;
								cursor: pointer;
								outline: none;

								&:hover { background: #011F53; }
							}

							/* Secondary Links (Drop down navigation) */
							>ul {
								display: none;
								position: absolute;
								top: 39px;
								background: url(../img/secondaryMenuBG.png) repeat 0 0;
								border: 4px solid $navGreen;
								border-top-width: 0;
								box-shadow: 0 0 10px #000;
								padding: 10px 10px 5px;

								&:after {
									content: " ";
									display: table;
									clear: both;
								}

								>li {
									position: relative;
									padding-bottom: 3px;

									>a {
										display: block;
										font-size: 110%;
										font-weight: bold;
										color: #cde;
										text-decoration: none;
										text-transform: uppercase;
										text-shadow: 0 0 1px #000;
										border-bottom: 3px solid $navGreen;
										padding: 0 15px;
										height: 30px;
										line-height: 30px;
										background: $logoBlue;
										background: -o-linear-gradient(darken($logoBlue, 5%), darken($logoBlue, 8%));
										background: -ms-linear-gradient(darken($logoBlue, 5%), darken($logoBlue, 8%));
										background: linear-gradient(darken($logoBlue, 5%), darken($logoBlue, 8%));

										&:hover { 
											color: #def;
											background: darken($logoBlue, 10%); 
										}

										&:active { background: darken($logoBlue, 15%); }
									}

									&.tertiary { padding-bottom: 5px; }

									/* Tertiary Links */
									>ul {
										background: #555;

										>li {
											padding: 0 1px 1px;

											>a {
												display: block;
												height: 30px;
												line-height: 30px;
												text-decoration: none;
												color: #222;
												border-top-width: 0;
												padding: 0 15px;
												font-weight: bold;
												color: #cde;
												background: #333;

												&:hover {
													background: #222;
													color: #bde;
												}
												&:active { 
													background: #000;
													color: #bbb;
												}
											}
										}
									}
								}
							}

							&:hover {
								>ul { display: block; }
								>a { background: #011F53; }
							}
						}
					}
				}

				>section {
					padding: 5px;

					>#news-and-events {
						padding: 15px 10px;
						width: 224px;
						min-height: 320px;
						background: $blue url(../img/news-loading.gif) no-repeat center center;
						color: #fff;
						float: right;
						margin-left: 5px;

						>h3 {
							margin: 0 0 5px;
							padding-bottom: 3px;
							text-transform: uppercase;
							font-size: 125%;
							border-bottom: 2px solid #90A3CB;
						}

						>article {
							margin-bottom: 15px;

							>small {
								display: block;
								margin-bottom: 5px;
								font-size: 90%;
							}

							>p {
								margin: 0;

								>a {
									color: $newsAndEventsGreen;
									text-decoration: none;
									cursor: pointer;
									text-decoration: none;

									&:hover { text-decoration: underline; }
									&:active { color: lighten($newsAndEventsGreen, 20%); }
								}
							}
						}
					}

					>#content { 
						min-height: 290px;
						background-image: url(../img/contentBottomBG.png);
						background-repeat: repeat-x;
						background-position: bottom left;
					}
				}
			}

			>footer {
				height: 35px;
				line-height: 35px;

				&:after {
					content: " ";
					display: table;
					clear: both;
				}

				>p { margin: 0 10px; }
				>p#office-phone { float: right; }
			}

			>#mobile-menu, 
			>#mobile-menu-button { display: none !important; }
		}
	}	
}

/**
 *  Width: Maximum of 889 pixels
 *  Description: Display a mobile-friendly menu 
 */
@media (max-width: 889px) {
	html {
		>body {
			>header {
				background: $logoBlue;

				>div {
					>h2 { display: none; }
				}
			}

			nav {
				position: relative;
				padding: 15px;

				ul {
					list-style: none;
					margin: 0;
					padding: 0;
				}

				a {
					display: block;
					font-weight: bold;
					text-decoration: none;
					min-height: 40px;
					line-height: 40px;
					border-bottom: 1px solid #777;
					padding-left: 12px;

					&:hover {
						background: #222;
					}
				}

				>ul {
					>li {
						>a {
							font-size: 130%;
							color: #fff;
						}

						>ul {
							>li {
								>a { 
									font-size: 115%;
									color: #ccc;
								}

								>ul {
									>li {
										>a {
											font-size: 100%;
											color: #999;
										}
									}
								}
							}
						}
					}
				}
			}

			>div {
				>section {
					>#news-and-events { display: none; }

					>#featured-products {
						background: #fff;
						padding: 0 15px 25px;

						>p {
							margin-right: 0;

							&:first-child { margin-right: 15px; }
						}
					}
				}
			}

			

			>#mobile-menu-button {
				position: absolute;
				top: 15px;
				right: 15px;
				height: 60px;
				width: 60px;
				background: darken($logoBlue, 3%) url(../img/mobileMenuButtonBG.png) no-repeat 0 0;
				border: 1px solid darken($logoBlue, 6%);
				cursor: pointer;
				outline: none;
			}
			>#mobile-menu-button.showing {
				background-color: darken($logoBlue, 10%);
				background-position: 0 -60px;
			}
			>nav#mobile-menu {
				display: none;
				position: absolute;
				top: 141px;
				left: 0;
				right: 0;
				bottom: 0;
				background: url(../img/mobileMenuBG.png) repeat 0 0;
				
				a {
					&:hover {
						background: #000;
					}
				}
			}

			>footer { 
				padding: 10px 15px;
				line-height: 20px;
				text-align: center;
			}
		}
	}	
}