html {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #333;
  background-attachment: fixed; }
  html > body {
    position: relative;
    margin: 0; }
    html > body > header {
      padding: 15px 25px;
      overflow: hidden;
      background: #fff; }
      html > body > header > div > a {
        display: block;
        outline: none;
        cursor: pointer;
        height: 78px;
        width: 70px;
        background: url(../img/logo.png) no-repeat 0 0; }
        html > body > header > div > a > span {
          display: none; }
    html > body > div > section:after {
      content: " ";
      display: table;
      clear: both; }
    html > body > div > section > #content {
      position: relative;
      overflow: hidden;
      padding: 25px 25px 35px;
      background: #fff;
      /* News, Archives, etc. */ }
      html > body > div > section > #content > #loading {
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        left: 50%;
        top: 50%;
        margin-left: -32px;
        margin-top: -32px; }
      html > body > div > section > #content h1 {
        margin: 0;
        margin-bottom: 10px;
        color: #0b3d6f;
        font-size: 16pt; }
      html > body > div > section > #content h2 {
        margin-top: 0;
        font-size: 13pt;
        color: #333; }
      html > body > div > section > #content h3 {
        margin: 0 0 5px;
        color: #36c;
        font-size: 12pt; }
      html > body > div > section > #content h4 {
        margin-top: 0;
        font-size: 10pt; }
      html > body > div > section > #content h5 {
        margin-top: 0;
        font-size: 8pt; }
      html > body > div > section > #content a {
        color: #004b8d; }
        html > body > div > section > #content a img {
          border: 0; }
        html > body > div > section > #content a:hover {
          text-decoration: none;
          color: #0066c0; }
      html > body > div > section > #content ul {
        margin: 10px 0;
        padding: 0;
        list-style-type: none; }
        html > body > div > section > #content ul > li {
          padding: 3px 0 3px 15px;
          background: url(../img/listItemBG.png) no-repeat 0 8px; }
      html > body > div > section > #content #category-posts > h2 {
        margin-top: 20px;
        background: #ddd;
        background: linear-gradient(#dddddd, #cccccc);
        padding: 7px 10px;
        margin-bottom: 0; }
      html > body > div > section > #content #category-posts > article {
        padding: 20px 0;
        margin: 0 5px;
        border-top: 1px dashed #aaa; }
      html > body > div > section > #content form#cert-inquiry-form {
        display: block;
        padding: 5px 15px; }
        html > body > div > section > #content form#cert-inquiry-form .req:after {
          content: " * ";
          color: #c22;
          font-weight: bold; }
        html > body > div > section > #content form#cert-inquiry-form > p {
          margin: 5px 0;
          font-size: 90%;
          font-style: italic;
          color: #444; }
        html > body > div > section > #content form#cert-inquiry-form > ol {
          list-style: none;
          margin: 15px 0;
          padding: 0; }
          html > body > div > section > #content form#cert-inquiry-form > ol > li {
            padding: 0 0 15px; }
            html > body > div > section > #content form#cert-inquiry-form > ol > li > label {
              display: block;
              font-weight: bold;
              margin-bottom: 5px; }
              html > body > div > section > #content form#cert-inquiry-form > ol > li > label.empty:after, html > body > div > section > #content form#cert-inquiry-form > ol > li > label.invalid-zip:after, html > body > div > section > #content form#cert-inquiry-form > ol > li > label.invalid-email:after {
                font-style: italic;
                color: #c22; }
              html > body > div > section > #content form#cert-inquiry-form > ol > li > label.empty:after {
                content: " * Field requires a valid entry."; }
              html > body > div > section > #content form#cert-inquiry-form > ol > li > label.invalid-zip:after {
                content: " * Zip code entered is not valid."; }
              html > body > div > section > #content form#cert-inquiry-form > ol > li > label.invalid-email:after {
                content: " * Email address entered is not valid."; }
            html > body > div > section > #content form#cert-inquiry-form > ol > li > input, html > body > div > section > #content form#cert-inquiry-form > ol > li > select {
              display: block;
              width: 100%;
              box-sizing: border-box;
              border: 1px solid #333;
              height: 25px;
              font-size: 120%;
              line-height: 25px;
              padding: 3px 3px;
              background: #f6f6f6;
              background: -o-linear-gradient(white, #dddddd);
              background: -ms-linear-gradient(white, #dddddd);
              background: linear-gradient(white, #dddddd); }
              html > body > div > section > #content form#cert-inquiry-form > ol > li > input#zip-code, html > body > div > section > #content form#cert-inquiry-form > ol > li > input#dates, html > body > div > section > #content form#cert-inquiry-form > ol > li > select#zip-code, html > body > div > section > #content form#cert-inquiry-form > ol > li > select#dates {
                max-width: 250px; }
              html > body > div > section > #content form#cert-inquiry-form > ol > li > input.error, html > body > div > section > #content form#cert-inquiry-form > ol > li > select.error {
                border: 2px solid #833; }
        html > body > div > section > #content form#cert-inquiry-form > div {
          padding: 10px 0 0; }
          html > body > div > section > #content form#cert-inquiry-form > div:after {
            content: " ";
            display: table;
            clear: both; }
          html > body > div > section > #content form#cert-inquiry-form > div > a {
            display: block;
            float: left;
            cursor: pointer;
            outline: none;
            height: 32px;
            line-height: 32px;
            padding: 0 18px;
            background: #ccc;
            background: -o-linear-gradient(#dddddd, #bbbbbb);
            background: -ms-linear-gradient(#dddddd, #bbbbbb);
            background: linear-gradient(#dddddd, #bbbbbb);
            color: #222;
            font-weight: bold;
            font-size: 120%;
            border: 1px solid #333; }
            html > body > div > section > #content form#cert-inquiry-form > div > a:first-child {
              margin-right: 25px; }
            html > body > div > section > #content form#cert-inquiry-form > div > a:hover {
              background: #ddd; }
            html > body > div > section > #content form#cert-inquiry-form > div > a:active {
              background: #555;
              color: #ddd; }
    html > body > div > section > #featured-products {
      display: none; }
      html > body > div > section > #featured-products > div {
        position: relative;
        width: 140px;
        height: 151px;
        color: #333;
        background: url(../img/featuredProducts.png) no-repeat 0 -172px;
        padding: 21px 5px 0 103px; }
        html > body > div > section > #featured-products > div:first-child {
          margin-bottom: 5px;
          background-position: 0 0;
          padding-top: 20px;
          height: 152px; }
        html > body > div > section > #featured-products > div > h4 {
          display: block;
          color: #fff;
          margin: 0 0 10px;
          font-weight: normal;
          text-transform: uppercase; }
        html > body > div > section > #featured-products > div > p {
          margin: 10px 0;
          text-align: right;
          font-size: 10px;
          line-height: 15px; }
        html > body > div > section > #featured-products > div > a {
          display: block;
          height: 18px;
          line-height: 18px;
          padding: 5px 0 0 15px;
          width: 79px;
          position: absolute;
          bottom: 1px;
          right: 0;
          color: #333;
          cursor: pointer;
          outline: none;
          font-size: 12px;
          font-family: tahoma, sans-serif;
          text-transform: uppercase;
          text-decoration: none; }
          html > body > div > section > #featured-products > div > a:hover {
            color: #004b8d; }
          html > body > div > section > #featured-products > div > a > span {
            color: #004b8d;
            font-weight: bold;
            font-size: 11px;
            letter-spacing: -2px; }
    html > body > div > section.home > #content h1 {
      display: none; }
    html > body > div > section.home > #featured-products {
      display: block; }
    html > body > footer {
      color: #888;
      font-size: 90%; }
      html > body > footer > p {
        margin: 0; }
        html > body > footer > p > a {
          color: #aaa;
          text-decoration: none;
          outline: none;
          cursor: pointer; }
          html > body > footer > p > a:hover {
            text-decoration: underline; }
