$fontSize: 12px;
$headerLightGray: #e3e3e3;
$blue: #003082;
$textDarkBlue: #0b3d6f;
$textBrightBlue: #36c;
$logoBlue: #004B8D;

html {
	font-size: $fontSize;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #333;
	background-attachment: fixed;

	>body {
		position: relative;
		margin: 0;

		>header {
			padding: 15px 25px;
			overflow: hidden;
			background: #fff;

			>div {
				>a {
					display: block;
					outline: none;
					cursor: pointer;
					height: 78px;
					width: 70px;
					background: url(../img/logo.png) no-repeat 0 0;

					>span { display: none; }
				}
			}
		}

		>div {
			>section {
				&:after {
					content: " ";
					display: table;
					clear: both;
				}

				>#content {
					position: relative;
					overflow: hidden;
					padding: 25px 25px 35px;
					background: #fff;

					>#loading {
						display: block;
						position: absolute;
						width: 32px;
						height: 32px;
						left: 50%;
						top: 50%;
						margin-left: -32px;
						margin-top: -32px;
					}

					h1 {
						margin: 0;
						margin-bottom: 10px;
						color: $textDarkBlue;
						font-size: 16pt;
					}

					h2 { 
						margin-top: 0;
						font-size: 13pt;
						color: #333;
					}

					h3 {
						margin: 0 0 5px;
						color: #36c;
						font-size: 12pt;
					}

					h4 {
						margin-top: 0;
						font-size: 10pt;
					}
					h5 { 
						margin-top: 0;
						font-size: 8pt;
					}

					a {
						color: $logoBlue;

						img { border: 0; }

						&:hover {
							text-decoration: none;
							color: lighten($logoBlue, 10%);
						}
					}

					ul {
						margin: 10px 0;
						padding: 0;
						list-style-type: none;

						>li {
							padding: 3px 0 3px 15px;
							background: url(../img/listItemBG.png) no-repeat 0 8px;
						}
					}

					/* News, Archives, etc. */
					#category-posts > h2 {
						margin-top: 20px;
						background: #ddd;
						background: linear-gradient(#ddd, #ccc);
						padding: 7px 10px;
						margin-bottom: 0;
					}
					#category-posts > article {
						padding: 20px 0;
						margin: 0 5px;
						border-top: 1px dashed #aaa;
					}

					form#cert-inquiry-form {
						display: block;
						padding: 5px 15px;

						.req:after {
							content: " * ";
							color: #c22;
							font-weight: bold;
						}

						>p {
							margin: 5px 0;
							font-size: 90%;
							font-style: italic;
							color: #444;
						}

						>ol {
							list-style: none;
							margin: 15px 0;
							padding: 0;

							>li {
								padding: 0 0 15px;

								>label {
									display: block;
									font-weight: bold;
									margin-bottom: 5px;

									&.empty:after,
									&.invalid-zip:after,
									&.invalid-email:after {
										font-style: italic;
										color: #c22;
									}
									&.empty:after { content: " * Field requires a valid entry."; }
									&.invalid-zip:after { content: " * Zip code entered is not valid."; }
									&.invalid-email:after { content: " * Email address entered is not valid."; }
								}

								>input, >select {
									display: block;
									width: 100%;
									box-sizing: border-box;
									border: 1px solid #333;
									height: 25px;
									font-size: 120%;
									line-height: 25px;
									padding: 3px 3px;
									background: #f6f6f6;
									background: -o-linear-gradient(#fff, #ddd);
									background: -ms-linear-gradient(#fff, #ddd);
									background: linear-gradient(#fff, #ddd);

									&#zip-code, &#dates { max-width: 250px; }

									&.error { border: 2px solid #833; }
								}

							}
						}

						>div {
							padding: 10px 0 0;

							&:after {
								content: " ";
								display: table;
								clear: both;
							}

							>a {
								display: block;
								float: left;
								cursor: pointer;
								outline: none;
								height: 32px;
								line-height: 32px;
								padding: 0 18px;
								background: #ccc;
								background: -o-linear-gradient(#ddd, #bbb);
								background: -ms-linear-gradient(#ddd, #bbb);
								background: linear-gradient(#ddd, #bbb);
								color: #222;
								font-weight: bold;
								font-size: 120%;
								border: 1px solid #333;

								&:first-child { margin-right: 25px; }
								&:hover { background: #ddd; }
								&:active {
									background: #555;
									color: #ddd;

								}
							}
						}
					}
				}

				>#featured-products {
					display: none;

					>div {
						position: relative;
						width: 140px;
						height: 151px;
						color: #333;
						background: url(../img/featuredProducts.png) no-repeat 0 -172px;
						padding: 21px 5px 0 103px;

						&:first-child {
							margin-bottom: 5px;
							background-position: 0 0;
							padding-top: 20px;
							height: 152px;
						}

						>h4 {
							display: block;
							color: #fff;
							margin: 0 0 10px;
							font-weight: normal;
							text-transform: uppercase;
						}

						>p {
							margin: 10px 0;
							text-align: right;
							font-size: 10px;
							line-height: 15px;
						}

						>a {
							display: block;
							height: 18px;
							line-height: 18px;
							padding: 5px 0 0 15px;
							width: 79px;
							position: absolute;
							bottom: 1px;
							right: 0;
							color: #333;
							cursor: pointer;
							outline: none;
							font-size: 12px;
							font-family: tahoma, sans-serif;
							text-transform: uppercase;
							text-decoration: none;

							&:hover { color: $logoBlue; }

							>span {
								color: $logoBlue;
								font-weight: bold;
								font-size: 11px;
								letter-spacing: -2px;
							}
						}
					}
				}

				&.home {
					>#content {
						h1 { display: none; }
					}

					>#featured-products { display: block; }
				}
			}
		}

		>footer {
			color: #888;
			font-size: 90%;

			>p {
				margin: 0;

				>a {
					color: #aaa;
					text-decoration: none;
					outline: none;
					cursor: pointer;

					&:hover { text-decoration: underline; }
				}
			}
		}
	}
}
			